.pokedex input[type=text] {
    width: 100%;
    padding: 24px;
    border: none;
    border-radius: 24px;
    background-color: var(--white);
    filter: drop-shadow(4px 4px 16px rgb(1, 28, 64, 0.2));
}