:root {
  --third: #F5DB13;
  --primary: #F2B807;
  --second: #F28F16;
  --danger: #D93E30;
  --white: #F6F7F9;
  --dark: #212121;

  font-family: 'Karla', sans-serif;
  font-weight: 400;

  color: var(--dark);
  background: linear-gradient(180deg, rgba(245,219,19,1) 0%, rgba(242,184,7,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

select, input {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}


h1, h2, h3, h6, p {
  font-weight: 400;
}

h1 {
  font-size: 72px;
  letter-spacing: 4px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}